body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%; /* Avoids any overflow */
    max-height: 100%;
    flex-shrink: 0;
    background-color: #D2D5EE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Removes any default margin */
    background-image: url(paper_airplane.png);
    background-repeat: no-repeat;
    background-position: center 35%; /* This shifts the background image up slightly */
    background-size: 700px;
}


.btn {
    background-color: #7BB4D4;
    color: #000;
    font-family: "Playfair Display", serif;
    font-size: calc(2vw + 10px); /* Responsive font size */
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    width: 80%; /* Fills most of the screen width */
    max-width: 476px; /* Maximum width for larger screens */
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    margin-top: 5px; /* Space between buttons */
}

.btn-anon {
    display: flex;
    width: auto;/*476px;*/
    height: auto;/*129px;*/
    padding: 40px 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #7BB4D4;
    color: #000; /* Font color */
    font-family: "Playfair Display", serif; /* Font family */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.btn-admin {
    display: flex;
    width: auto;/*476px;*/
    height: auto; /*129px;*/
    padding: 40px 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #7BB4D4; /* Light blue background */

    color: #000; /* Font color */
    font-family: "Playfair Display", serif; /* Font family */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border: none;
    cursor: pointer;

    margin-top: 1000px;           
}

.icon {
    width: auto; /* Define a specific size for consistency */
    height: auto;
    margin: 0 auto 20px;
    position: absolute;
    top: 0;
}

.threedots {
    position: absolute;
    top: 20px; /* Adjust based on desired spacing from top */
    right: 20px; /* Adjust based on desired spacing from right */
    width: 50px; /* Adjust size if necessary */
    height: auto; /* Maintain aspect ratio */
}



.buttons-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
    transform: translateY(50px);
}



.anon-container,
.btn-admin {
    position: relative;
    z-index: 1; /* Ensures buttons are above the airplane image */
    margin: 3px 0; /* Adds vertical space between buttons */
}

.btn-anon,
.btn-admin {
    background-color: #7BB4D4;
    color: #000;
    width: 476px;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.subtext-anon {
    font-family: "Playpen Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    margin-top: 2px;
    text-align: right; /* Ensures the text aligns within the element */
}
