.container {
    width: 90%; /* Makes it responsive */
    max-width: 1460px;
    height: auto; /* Adapts to content height */
    flex-shrink: 0;
    border: 1px solid #000;
    background-color: #D2D5EE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.btn {
    background-color: #7BB4D4;
    border: none;
    color: #000;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    width: 80%; /* Set relative width for responsiveness */
    max-width: 476px; /* Maintain max size */
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-anon {
    display: flex;
    width: auto;/*476px;*/
    height: auto;/*129px;*/
    padding: 40px 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #7BB4D4;
    color: #000; /* Font color */
    font-family: "Playfair Display", serif; /* Font family */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.btn-admin {
    display: flex;
    width: auto;/*476px;*/
    height: auto; /*129px;*/
    padding: 40px 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #7BB4D4; /* Light blue background */

    color: #000; /* Font color */
    font-family: "Playfair Display", serif; /* Font family */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border: none;
    cursor: pointer;

    margin-top: 50px;           
}

.icon {
    width: 100px; /* Define a specific size for consistency */
    height: auto;
    margin: 0 auto 20px;
}

.buttons-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper-airplane {
    position: absolute;
    width: 20vw; /* Responsive width */
    height: auto;
    top: 10px;
    left: -5%;
    z-index: 0;
    opacity: 0.9;
}

.anon-container,
.btn-admin {
    position: relative;
    z-index: 1; /* Ensures buttons are above the airplane image */
    margin: 10px 0; /* Adds vertical space between buttons */
}

.btn-anon,
.btn-admin {
    background-color: #7BB4D4;
    color: #000;
    width: 476px;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.subtext-anon {
    font-family: "Playpen Sans", sans-serif;
    font-size: 20px;
    color: #FFF;
    margin-top: 10px;
}
